.img-container {
  object-fit: cover;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  z-index: -1;
  top: 0;
}

.hero-container {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  animation: indicator 3s slidein;
}
.hero-container:hover {
  animation: indicator 3s slidein;
}

.hero-container > p {
  color: #fff;
  font-size: 32px;
  margin-top: -100px;
}
.hero-container > h1 {
  margin-top: 8px;
  color: #fff;
  font-size: 90px;
}

.hero-btns {
  margin-top: 32px;
  color: #fff;
}

.hero-btns a {
  text-decoration: none;
  color: #fff;
}


.fa-at,
.fa-github,
.fa-file-signature {

  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.fa-at:hover,
.fa-github:hover,
.fa-file-signature:hover {
  opacity: 0.8;
}
.fa-file-signature {
  margin-right: 0;
}

.fa-play-circle {
  margin-left: 4px;
}

.scroll {
  display: flex;
  align-items: flex-end;
}
.imgcon {
  display: flex;
  justify-content: center;
  top: 300px;
  animation: indicator 1s infinite;
}
@keyframes indicator {
  50% {
    transform: translate(0, 30px);
  }
}

.imgcon > img {
  width: 20px;
  margin: 20px;
}

@media screen and (max-width: 960px) {
  .hero-container > p {
    margin-top: -150px;
  }
  .hero-container > h1 {
    font-size: 70px;
  }
  .fa-at,
  .fa-github,
  .fa-file-signature {
    font-size: 35px;
    margin-right: 10px;
  }

  .fa-file-signature {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > p {
    font-size: 30px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 50px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
  .fa-at,
  .fa-github,
  .fa-file-signature {
    font-size: 30px;
    margin-right: 10px;
  }

  .fa-file-signature {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .hero-container > h1 {
    font-size: 35px;
  }

  .hero-container > p {
    font-size: 25px;
    margin-top: -100px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
  .fa-at,
  .fa-github,
  .fa-file-signature {
    font-size: 25px;
    margin-right: 5px;
  }

  .fa-file-signature {
    margin-right: 0;
  }
}
